<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>عملیات موفق</title>
    <div th:replace="fragment/layout::head"></div>
</head>
<body>
<div th:replace="fragment/layout::header"></div>

<div class="container-fluid m-0 p-6">
    <div class="modal-dialog modal-confirm" style="direction: rtl !important;">
        <div class="modal-content" style="direction: rtl !important;">
            <div class="modal-header" style="direction: rtl !important;">
                <div class="icon-box" style="direction: rtl !important;">

                </div>
                <h4 class="modal-title w-100" style="direction: rtl !important;text-align: right !important;">پیغام
                    سیستم!</h4>
            </div>
            <form style="direction: rtl;" th:action="@{/service4/{billNumber}}" method="post" th:object="${data}">
                <div class="modal-body">
                    <p th:text="${data}" class="text-center"></p>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success btn-block" type="button" value="بازگشت!" onclick="history.back()">
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>