<!DOCTYPE html>
<html
        data-nav-layout="vertical"
        data-theme-mode="light"
        data-header-styles="light"
        data-menu-styles="dark"
        data-toggled="close"
        dir="rtl"
        xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ایران لج</title>
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="Spruko Technologies Private Limited">

    <!-- Favicon -->
    <link rel="icon" th:href="@{/images/brand-logos/favicon.ico}" type="image/x-icon">
    <div th:replace="fragment/layout::head"></div>

</head>

<body>
<div class="page">
    <div th:replace="fragment/layout::TopMenu"></div>
    <div th:replace="fragment/layout::DriverSideBar"></div>

    <div class="main-content app-content">
        <div class="container-fluid">

            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <div class="card-title"> ثبت اطلاعات راننده</div>
                        <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                           aria-expanded="false" aria-controls="collapseExample"> <i
                                class="ri-arrow-down-s-line fs-18 collapse-open"></i>
                            <i class="ri-arrow-up-s-line collapse-close fs-18"></i> </a></div>
                    <form th:action="@{/register/driver}" method="post" th:object="${driver}"
                          enctype="multipart/form-data" class="container container-fluid">
                        <div class="collapse show" id="collapseExample">
                            <div class="card-body"><h6 class="card-text fw-semibold">اطلاعات</h6>

                                <div class="row switcher-style gx-0">
                                    <div class="col-6">
                                    </div>
                                    <div class="col-6">
                                    </div>
                                </div>


                                <div class="col-xl-12 mt-2">
                                    <input type="text" class="form-control form-control-lg" id="LicenseNumber"
                                           placeholder="شماره گواهی نامه" th:field="*{LicenseNumber}">
                                </div>
                                <div class="col-xl-12 mt-2">
                                    <input type="text" class="form-control form-control-lg" id="transitPlate"
                                           placeholder="شماره پلاک ترانزیت" th:field="*{transitPlate}">


                                </div>
                                <div class="col-xl-12 mt-2">
                                    <input type="text" class="form-control form-control-lg" id="activityType"
                                           placeholder="نوع فعالیت" th:field="*{activityType}">
                                </div>
                                <div class="col-xl-12 mt-2">
                                    <input type="text" class="form-control form-control-lg" id="truckInformation"
                                           placeholder="اطلاعات خودرو" th:field="*{truckInformation}">
                                </div>
                                <div class="col-xl-12 mt-2">
                                    <label for="driverPicture" class="form-label" th:for="driverPicture">بارگذاری تصویر
                                        راننده</label>
                                    <input class="form-control form-control-md" id="driverPicture"
                                           placeholder="تصویر راننده" th:field="*{driverPicture}" th:type="file"
                                           accept="image/*">
                                </div>
                                <div class="col-xl-12 mt-2">
                                    <label for="driverPicture" class="form-label" th:for="nationalCardPicture">بارگذاری
                                        تصویر کارت ملی</label>
                                    <input th:type="file" class="form-control form-control-md" id="nationalCardPicture"
                                           placeholder="تصویر کارت ملی" th:field="*{nationalCardPicture}">
                                </div>
                                <div class="col-xl-12 mt-2">
                                    <label for="driverPicture" class="form-label" th:for="licenseCardPicture">بارگذاری
                                        تصویر گواهینامه</label>
                                    <input th:type="file" class="form-control form-control-md" id="licenseCardPicture"
                                           placeholder="تصویر گواهینامه" th:field="*{licenseCardPicture}">
                                </div>
                                <div class="col-xl-12 mt-2">
                                    <label for="driverPicture" class="form-label" th:for="carCartPicture">بارگذاری تصویر
                                        کارت خودرو</label>
                                    <input th:type="file" class="form-control form-control-md" id="carCartPicture"
                                           placeholder="نصویر کارت خودرو" th:field="*{carCartPicture}">
                                </div>
                                <div class="col-xl-12 mt-2">
                                    <input type="text" class="form-control form-control-lg" id="truckType"
                                           placeholder="نوع وسیله نقلیه" th:field="*{truckType}">
                                </div>
                                <div class="col-xl-12 mt-2">
                                    <input type="text" class="form-control form-control-lg" id="truckUsage"
                                           placeholder="کاربرد خودرو" th:field="*{truckUsage}">
                                </div>
                                <div class="col-xl-12 mt-2">
                                    <input type="text" class="form-control form-control-lg" id="truckModel"
                                           placeholder="مدل خودرو" th:field="*{truckModel}">
                                </div>
                                <div class="col-xl-12 mt-2">
                                    <input type="text" class="form-control form-control-lg" id="plateNumber"
                                           placeholder="شماره پلاک" th:field="*{plateNumber}">
                                </div>
                                <div class="col-xl-12 mt-2">
                                    <input type="text" class="form-control form-control-lg" id="smartCardNumber"
                                           placeholder="شماره کارت هوشمند" th:field="*{smartCardNumber}">
                                </div>

                                <!--                                <div class="col-xl-12 mt-2">-->
                                <!--                                    <input type="text" class="form-control form-control-lg" id="placesActivity"-->
                                <!--                                           placeholder="محل فعالیت" th:field="*{placesActivity}">-->
                                <!--                                </div>-->


                                <div class="col-xl-3">
                                    <label class="col-form-label col-sm-3" for="ActivityStatus">نوع فعالیت :</label>
                                    <select class="form-select" aria-label="Default select example" id="ActivityStatus"
                                            th:field="*{placesActivity}">
                                        <option th:each="as : ${T(ir.javid.iran.model.ActivityStatus).values()}"
                                                th:text="${as}"
                                                th:value="${as}"></option>
                                    </select>
                                </div>

                                <div class="col-xl-3">
                                    <label class="col-form-label col-sm-3" for="state">نام شهر/ایالت : </label>

                                    <select class="form-control" id="state" th:field="*{state}">
                                        <option th:each="sss : ${states}"
                                                th:value="${sss.getId()}"
                                                th:text="${sss.getName()}">
                                    </select>


                                </div>


                            </div>


                            <div class="col-xl-12 mt-2">
                                <input type="text" class="form-control form-control-lg" id="favoritePlace"
                                       placeholder="محل مورد علاقه" th:field="*{favoritePlace}">
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="row-cols-md-6 col-md-10"></div>
                                <div class="col-md-2"><input class="btn btn-lg btn-primary" id="subbmitt"
                                                             type="submit"
                                                             th:value="ثبت" style="width: 100%"></div>
                            </div>

                        </div>
                </div>
                </form>
            </div>
        </div>


    </div>
</div>

<footer class="footer mt-auto py-3 bg-white">
    <div class="container" style="float: left">
            <span class="text-muted"> Copyright © <span id="year"></span>
                <a href="javascript:void(0);" class="text-dark fw-semibold">framework</a>. Designed with
                <span class="bi bi-heart-fill text-danger"></span> by
                <a href="http:\\www.woya.ir">
                    <span class="fw-semibold text-primary text-decoration-underline">WoyaGroup</span>
                </a> All rights reserved
            </span>
    </div>
</footer>

</div>
<div class="scrollToTop"><span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span></div>
<div id="responsive-overlay"></div>
<script th:src="@{/libs/@popperjs/core/umd/popper.min.js}"></script>
<script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/defaultmenu.min.js}"></script>
<script th:src="@{/libs/node-waves/waves.min.js}"></script>
<script th:src="@{/js/sticky.js}"></script>
<script th:src="@{/libs/simplebar/simplebar.min.js}"></script>
<script th:src="@{/js/simplebar.js}"></script>
<script th:src="@{/libs/@simonwep/pickr/pickr.es5.min.js}"></script>
<script th:src="@{/js/custom-switcher.min.js}"></script>
<script th:src="@{/js/product-list.js}"></script>
<script th:src="@{/js/custom.js}"></script>

<div th:replace="fragment/layout::footer"></div>

</body>
</html>