<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="rtl"
      data-nav-layout="vertical"
      data-vertical-style="overlay"
      data-theme-mode="light"
      data-header-styles="light"
      data-menu-styles="light"
      data-toggled="close">
<head>
    <meta charset="UTF-8">
    <title>ورود به سیستم</title>
    <div th:replace="fragment/layout::head"></div>

    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IranLog - Transport around the world!</title>
    <meta name="Author" content="IranLog Technologies Private Limited">
    <meta name="Woya.ir" content="Woya Technologies">
</head>

<body style="direction: rtl !important;" class="bg-white">

<div class="row authentication mx-0">
    <div class="col-xxl-7 col-xl-7 col-lg-12">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-xxl-6 col-xl-7 col-lg-7 col-md-7 col-sm-8 col-12">
                <div class="p-5">
                    <div class="mb-3"><a href="./index">
                        <img th:src="@{/images/brand-logos/desktop-logo2.svg}"
                             alt="" class="authentication-brand desktop-logo" style="height: 50px !important;">
                        <img th:src="@{/images/brand-logos/desktop-dark.png}" alt=""
                             class="authentication-brand desktop-dark"> </a></div>
                    <p class="h5 fw-semibold mb-2">ورود کاربر</p>
                    <p class="mb-3 text-muted op-7 fw-normal">کاربر گرامی، خوش آمدید !</p>
                    <div class="btn-list">
                        <button class="btn btn-light">

                            <svg class="google-svg" xmlns="http://www.w3.org/2000/svg" width="2443" height="2500"
                                 preserveAspectRatio="xMidYMid" viewBox="0 0 256 262">
                                <path fill="#4285F4"
                                      d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"/>
                                <path fill="#34A853"
                                      d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"/>
                                <path fill="#FBBC05"
                                      d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"/>
                                <path fill="#EB4335"
                                      d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"/>
                            </svg>
                            <a th:href="@{/oauth2/authorization/google}">ورود از طریق اکانت گوگل</a>
                            <!--                            ورود از طریق اکانت گوگل-->
                        </button>
                        <button class="btn btn-icon btn-light"><i class="ri-facebook-fill"></i></button>
                        <button class="btn btn-icon btn-light"><i class="ri-twitter-fill"></i></button>
                    </div>
                    <div class="text-center my-5 authentication-barrier"><span>یا</span></div>

                    <form th:action="@{/login}" method="post">
                        <div class="row gy-3">

                            <div class="col-xl-12 mt-0"><label for="username" class="form-label text-default">نام
                                کاربری</label>
                                <input class="form-control form-control-lg"
                                       id="username"
                                       name="username"
                                       placeholder="Email or Phone">
                            </div>
                            <div class="col-xl-12 mb-3">
                                <label for="password" class="form-label text-default d-block"><a
                                        href="reset-password-cover.html" class="float-end text-danger">رمز خود را فراموش
                                    کرده اید؟</a>رمز عبور</label>
                                <div class="input-group">
                                    <input type="password" class="form-control form-control-lg" id="password"
                                           placeholder="Enter password" name="password">
                                    <button class="btn btn-light"
                                            style="direction: rtl !important;"
                                            type="button"
                                            onclick="createpassword('signin-password',this)" id="button-addon2">
                                        <i class="ri-eye-off-line align-middle"></i>
                                    </button>
                                </div>
                                <div class="mt-2">
                                    <div class="form-check"><input class="form-check-input" type="checkbox" value=""
                                                                   id="defaultCheck1">
                                        <label class="form-check-label text-muted fw-normal" for="defaultCheck1"
                                               style="direction: ltr;"> رمز عبور ذخیره شود؟ </label></div>
                                </div>
                            </div>
                            <div class="col-xl-12 d-grid mt-2">
                                <button class="btn btn-lg btn-primary" type="submit" th:value="ورود">ورود</button>
                            </div>
                        </div>
                    </form>

                    <div class="text-center"><p class="fs-12 text-muted mt-4">هنوز ثبت نام نکرده اید؟<a
                            href="./register" class="text-primary"> ثبت نام کاربر</a></p></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-5 col-xl-5 col-lg-5 d-xl-block d-none px-0">
        <div class="authentication-cover">
            <div class="aunthentication-cover-content rounded">
                <div class="swiper keyboard-control">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="text-fixed-white text-center p-5 d-flex align-items-center justify-content-center">
                                <div>
                                    <div class="mb-5"><img th:src="@{/images/authentication/2.png}"
                                                           class="authentication-image" alt=""></div>
                                    <h6 class="fw-semibold">نحوه استفاده از خدمات شرکت </h6>
                                    <p class="fw-normal fs-14 op-7" style="text-align: justify;direction: rtl;">برای
                                        استفاده از خدمات ایران لج، شما باید ابتدا وارد سامانه شده سپس با توجه به زمینه
                                        فعالیت خود در قسمت مربوطه ثبت نام نموده و زمینه های فعالیتی قابل اجرا در سامانه
                                        ایران لج را بررسی و سپس خدمات مورد نیاز خود را دریافت یا به فروش برسانید.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="text-fixed-white text-center p-5 d-flex align-items-center justify-content-center">
                                <div>
                                    <div class="mb-5"><img th:src="@{/images/authentication/3.png}"
                                                           class="authentication-image" alt=""></div>
                                    <h6 class="fw-semibold">ایران لج از کجا آمد؟</h6>
                                    <p class="fw-normal fs-14 op-7" style="text-align: justify;direction: rtl;"> ایران
                                        لج در سال ۲۰۲۱ توسط گروهی از متخصصان تجاری ایران که خود در زمینه های مختلف تجاری
                                        و لجستیک فعال بوده با هدف ایجاد یک پلتفرم جامع و کارآمد برای ارتباط بین مشتریان
                                        و تامین کنندگان بار در بازار ایران و خاورمیانه راه اندازی شد. </p></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="text-fixed-white text-center p-5 d-flex align-items-center justify-content-center">
                                <div>
                                    <div class="mb-5"><img th:src="@{/images/authentication/2.png}"
                                                           class="authentication-image" alt=""></div>
                                    <h6 class="fw-semibold">ایران لج چیست؟</h6>
                                    <p class="fw-normal fs-14 op-7" style="text-align: justify;direction: rtl;"> ایران
                                        لج یک سامانه خدمات تجاری از قبیل لجستیک و حمل و نقل بین الملل – ترخیص و خدمات
                                        گمرکی – خدمات نمایندگی و ایجنتی کالا در مکان مورد نظر صاحبین تجارت – خدمات بیمه
                                        باربری و سلامت کالا – خدمات انتقال ارز است .</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- Custom-Switcher JS -->
<script th:src="@{/js/custom-switcher.min.js}"></script> <!-- Bootstrap JS -->
<script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script> <!-- Swiper JS -->
<script th:src="@{/libs/swiper/swiper-bundle.min.js}"></script> <!-- Internal Sing-Up JS -->
<script th:src="@{/js/authentication.js}"></script> <!-- Show Password JS -->
<script th:src="@{/js/show-password.js}"></script>
</body>

</html>